@import url("https://fonts.googleapis.com/css2?family=Allerta&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
}

body {
	margin: 0 auto;
	min-width: 320px;
	min-height: 100vh;
	background-image: url("/Msft_Nostalgia_Landscape.jpg");
	overflow: hidden;
}

#root {
	overflow: auto;
}

/* change this to the window -- we'll make a component no worries */
/* #root > * {
	margin: 1rem auto;
} */

.window {
	margin: 4rem auto;
	font-size: medium;
	max-height: 90vh;
}
.title-bar {
	padding: 15px 3px;
}
.title-bar-text {
	font-family: "Trebuchet MS", "Allerta", sans-serif;
	font-size: medium;
	max-width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

h4 {
	margin: 0.5rem 1rem;
}

p {
	/* font-size: medium; */
	margin: 0 1rem;
}

.window-body {
	margin: 0;
	scrollbar-width: 50px;
}

.window-body .field-row {
	margin: 0.5rem 0;
}

.window-body button {
	font-size: medium;
	margin: 1rem 0.25rem;
}

button {
	cursor: pointer;
}

button:disabled {
	cursor: not-allowed;
}

#portfolio-container {
	display: grid;
	grid-template-columns: 1fr 2fr;
	max-height: 90vh;
}

#icon-container {
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-items: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	text-align: center;
}

.winicon figcaption {
	margin: 0 auto 10px auto;
	font-size: 1rem;
}

.winicon img {
	max-width: 48px;
}

#blogBody {
	overflow: auto;
}

.blogPostBody {
	overflow-y: auto;
}

.blogPostBody p {
	margin: 1.5rem 1rem;
}

@media screen and (min-width: 900px) {
	.winicon img {
		max-width: 72px;
	}
}

@media screen and (max-width: 550px) {
	#portfolio-container {
		grid-template-columns: 1fr;
	}
	#icon-container {
		order: 1;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.winicon figcaption {
		font-size: 0.75rem;
	}
}
