@import url("https://fonts.googleapis.com/css2?family=Allerta&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
}

body {
	margin: 0 auto;
	min-width: 320px;
	min-height: 100vh;
	background-image: url("/Msft_Nostalgia_Landscape.jpg");
	overflow: hidden;
}

/* change this to the window -- we'll make a component no worries */
/* #root > * {
	margin: 1rem auto;
} */

.window {
	margin: 4rem auto;
	font-size: medium;
	max-height: 90vh;
}

.title-bar-text {
	font-family: "Trebuchet MS", "Allerta", sans-serif;
	font-size: medium;
	max-width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

h4 {
	margin: 0.5rem 1rem;
}

p {
	/* font-size: medium; */
	margin: 0 1rem;
}

.window-body {
	margin: 0;
	scrollbar-width: 50px;
}

.window-body .field-row {
	margin: 0.5rem 0;
}

.window-body button {
	font-size: medium;
	margin: 1rem 0.25rem;
}

button {
	cursor: pointer;
}

button:disabled {
	cursor: not-allowed;
}

#portfolio-container {
	display: grid;
	grid-template-columns: min-content auto;
	max-height: 90vh;
}

#icon-container {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	text-align: center;
}

.winicon figcaption {
	margin: 0 auto 10px auto;
	font-size: 1rem;
}
